# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Env
.venv/
.env

# Data 
data/raw/
data/dataset/
data/index/

# SQL database
data/sql/*.db

# OS / IDE
.DS_Store
.vscode/

# NLP models and caches
.cache/
models/
*.ckpt
*.pt
*.bin

contact.py